.user-control {
  max-width: 225px;
}

.detail-text {
  font-weight: 600;
}

.user-detail {
  min-width: 300px;
}

.file-upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-upload + label {
  display: flex;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #1976d2;
  background-color: #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}
.file-upload + label:hover {
  background-color: rgba(25, 118, 210, 0.1);
}
.file-upload + label svg {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 0.25em;
}
.file-browse span.detail-txt {
  display: block;
  margin: 0 .75rem;
  padding: .75rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}